ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: ;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-family: 'helvetica';
    text-align: center;
  
  }
  
  ul.breadcrumb li+li:before {
    padding: 50px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  
  h2 {
     text-align: center;
     font-family: 'helvetica';
     font-size: 60px;
     }
     
  
  body  {
        background-image: url(https://i.pinimg.com/564x/c1/e7/3a/c1e73a52cf90164d241717cc935fc613.jpg); background-size: 100%;">
        background-color: #cccccc;
        }

 div.Rescale {
     margin-left: 50px;
     margin-right: 50px;
 }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 47%;
    padding: 1px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  
  