    head {
      text-align:center;
    }
    
    body {
        background-color: lightyellow;
      }
      
      h1 {
        color: lightseagreen;
        text-align: center;
        font-family: Helvetica;
      }
      
      p {
        text-align: center;
        font-family: Helvetica;
        font-size: 14px;
      }

      h2 {
        text-align: center;
        font-family: Helvetica;
        font-size: 15px;
      }

      ul {
        text-align: center;
        font-family: Helvetica;
        font-size: 14px;
      }

      li {
        text-align: center;
        font-family: Helvetica;
        font-size: 14px;
      }
  