  
    body {
        background-color: lightyellow;
      }
      
      h1 {
        color: lightseagreen;
        text-align: center;
        font-family: Helvetica; 
        
      }
      
      p {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      li { 
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;}
  
      h2 {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 15px;
      }

      ul {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      }