 h2 {
     text-align: center;
     font-family:'Roboto Mono', monospace;;
     font-size: 30px;
     }


  body {
      background-color: whitesmoke;
    }
     



* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  
  
  
  
  