
    body {
        background-color: lightseagreen;
      }
      
      h1 {
        color: lightyellow;
        text-align: center;
      }
      
      p {
        font-family: Helvetica;
        font-size: 20px;
      }
  