  
    body {
        background-color: lightyellow;
      }

      .container {
        position: relative;
        text-align: center;
        color:lightseagreen;
        font-family: 'Karla', sans-serif;
        font-size: 14px; 
      }

      .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Karla', sans-serif;
        font-size: 14px; ;
      }

      
      h1 {
        color: lightseagreen;
        text-align: center;
        font-family: 'Merriweather', serif; 
        font-weight: bold;
        
      }
      
      p {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      li { 
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;}
  
      h2 {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 15px;
      }

      ul {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      