  
    body {
        background-color: lightyellow;
      }

      .container {
        position: relative;
        text-align: center;
        color:lightseagreen;
      }

      .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
      }

      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }

      .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
      }
      

      .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
      }


      h1 {
        color: lightseagreen;
        text-align: center;
        font-family: 'Merriweather', serif; 
        font-weight: bold;
        
      }
      
      p {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      li { 
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;}
  
      h2 {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 15px;
      }

      ul {
        text-align: center;
        font-family: 'Karla', sans-serif;;
        font-size: 14px;
      }

      img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      